# APRENDIZAJE SUPERVISADO

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
DataO=pd.read_csv('../Datos/ObesityDataSet_raw_and_data_sinthetic.csv')
DataO

C:\Users\LINA C\AppData\Local\Temp\ipykernel_26580\2508788569.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

Nueva base con EliminaciÃ³n de valores atipicos y de variables de peso y altura

In [54]:
import pandas as pd

columnas_numericas = DataO.select_dtypes(include=['number'])

for columna in columnas_numericas.columns:
    
    q1 = columnas_numericas[columna].quantile(0.25)
    q3 = columnas_numericas[columna].quantile(0.75)
    iqr = q3 - q1
    limite_inferior = q1 - 1.5 * iqr
    limite_superior = q3 + 1.5 * iqr
    

    Data_new1 = DataO[(DataO[columna] >= limite_inferior) & (DataO[columna] <= limite_superior)]

D=Data_new1.iloc[:,[0,1,4,5,6,7,8,9,10,11,12,13,14,15,16]]
D

,Gender,Age,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
5,Male,29.000000,no,yes,2.0,3.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [23]:
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder,MinMaxScaler,StandardScaler
import numpy as np

In [21]:
X_cuanti= D.iloc[:,[1,4,5,8,10,11]] ;X_cuanti

            Age  FCVC  NCP      CH2O       FAF       TUE
0     21.000000   2.0  3.0  2.000000  0.000000  1.000000
1     21.000000   3.0  3.0  3.000000  3.000000  0.000000
2     23.000000   2.0  3.0  2.000000  2.000000  1.000000
3     27.000000   3.0  3.0  2.000000  2.000000  0.000000
5     29.000000   2.0  3.0  2.000000  0.000000  0.000000
...         ...   ...  ...       ...       ...       ...
2106  20.976842   3.0  3.0  1.728139  1.676269  0.906247
2107  21.982942   3.0  3.0  2.005130  1.341390  0.599270
2108  22.524036   3.0  3.0  2.054193  1.414209  0.646288
2109  24.361936   3.0  3.0  2.852339  1.139107  0.586035
2110  23.664709   3.0  3.0  2.863513  1.026452  0.714137

[1762 rows x 6 columns]

In [37]:
X_cuali=D.iloc[:,[0,2,3,6,7,9,12,13]]; X_cuali
X_cate_ordinal=D.iloc[:, [6,12]]
X_cate_ordinal

           CAEC        CALC
0     Sometimes          no
1     Sometimes   Sometimes
2     Sometimes  Frequently
3     Sometimes  Frequently
5     Sometimes   Sometimes
...         ...         ...
2106  Sometimes   Sometimes
2107  Sometimes   Sometimes
2108  Sometimes   Sometimes
2109  Sometimes   Sometimes
2110  Sometimes   Sometimes

[1762 rows x 2 columns]

In [38]:
X_cate_nominal=D.iloc[:, [0,2,3,7,9,13]];X_cate_nominal

,Gender,family_history_with_overweight,FAVC,SMOKE,SCC,MTRANS
0,Female,yes,no,no,no,Public_Transportation
1,Female,yes,no,yes,yes,Public_Transportation
2,Male,yes,no,no,no,Public_Transportation
3,Male,no,no,no,no,Walking
5,Male,no,yes,no,no,Automobile
...,...,...,...,...,...,...
2106,Female,yes,yes,no,no,Public_Transportation
2107,Female,yes,yes,no,no,Public_Transportation
2108,Female,yes,yes,no,no,Public_Transportation
2109,Female,yes,yes,no,no,Public_Transportation
2110,Female,yes,yes,no,no,Public_Transportation

In [34]:
X=pd.concat([X_cuanti,X_cate_nominal,X_cate_ordinal],axis=1)
X

,Age,FCVC,NCP,CH2O,FAF,TUE,Gender,family_history_with_overweight,FAVC,SMOKE,SCC,MTRANS,CAEC,CALC
0,21.000000,2.0,3.0,2.000000,0.000000,1.000000,Female,yes,no,no,no,Public_Transportation,Sometimes,no
1,21.000000,3.0,3.0,3.000000,3.000000,0.000000,Female,yes,no,yes,yes,Public_Transportation,Sometimes,Sometimes
2,23.000000,2.0,3.0,2.000000,2.000000,1.000000,Male,yes,no,no,no,Public_Transportation,Sometimes,Frequently
3,27.000000,3.0,3.0,2.000000,2.000000,0.000000,Male,no,no,no,no,Walking,Sometimes,Frequently
5,29.000000,2.0,3.0,2.000000,0.000000,0.000000,Male,no,yes,no,no,Automobile,Sometimes,Sometimes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,20.976842,3.0,3.0,1.728139,1.676269,0.906247,Female,yes,yes,no,no,Public_Transportation,Sometimes,Sometimes
2107,21.982942,3.0,3.0,2.005130,1.341390,0.599270,Female,yes,yes,no,no,Public_Transportation,Sometimes,Sometimes
2108,22.524036,3.0,3.0,2.054193,1.414209,0.646288,Female,yes,yes,no,no,Public_Transportation,Sometimes,Sometimes
2109,24.361936,3.0,3.0,2.852339,1.139107,0.586035,Female,yes,yes,no,no,Public_Transportation,Sometimes,Sometimes
2110,23.664709,3.0,3.0,2.863513,1.026452,0.714137,Female,yes,yes,no,no,Public_Transportation,Sometimes,Sometimes

In [35]:
D_cate_nominal_names=["Gender","family_history_with_overweight","FAVC","SMOKE","SCC","MTRANS"]
D_cate_ordinal_names=["CAEC","CALC"]
D_conti_scalar_names=["Age","FCVC","NCP","CH2O","FAF","TUE"]

In [53]:
y=pd.DataFrame(D.iloc[:,14])
y

              NObeyesdad
0          Normal_Weight
1          Normal_Weight
2          Normal_Weight
3     Overweight_Level_I
5          Normal_Weight
...                  ...
2106    Obesity_Type_III
2107    Obesity_Type_III
2108    Obesity_Type_III
2109    Obesity_Type_III
2110    Obesity_Type_III

[1762 rows x 1 columns]

In [55]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

In [57]:
categorica_ordinal=OrdinalEncoder()
categorica_Onehot=OneHotEncoder()
nÃºmerica_standar=StandardScaler()
nÃºmerica_minmax=MinMaxScaler()

preprocessing = ColumnTransformer(
    [
        ("CodificaciÃ³n Ordinal", categorica_ordinal, D_cate_ordinal_names),
        ("CodificaciÃ³n Nominal", categorica_Onehot, D_cate_nominal_names),

        ("TransformaciÃ³n numÃ©rica Standar", nÃºmerica_standar, D_conti_scalar_names),
        
    ],
    verbose_feature_names_out=False,
)

In [58]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

In [59]:
Random_forest = RandomForestClassifier(random_state=42)
Logistica=LogisticRegression()
NBayes=GaussianNB()
Arbol=DecisionTreeClassifier()

modelos=[Logistica,NBayes,Arbol,Random_forest]

In [60]:
from sklearn.metrics import classification_report

for modelo in modelos:

    flujo = Pipeline(
        [
           ("Preprocesamiento", preprocessing),
           ("Clasificador", modelo),
        
        ]
    )

    flujo.fit(X_train,y_train)

    y_pred=flujo.predict(X_test)

    print(classification_report(y_test,y_pred))

c:\Users\LINA C\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1229: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\LINA C\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\LINA C\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1229: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\LINA C\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1497: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\LINA C\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1497: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\LINA C\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1497: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

                     precision    recall  f1-score   support

Insufficient_Weight       0.52      0.59      0.55        58
      Normal_Weight       0.48      0.41      0.44        58
     Obesity_Type_I       0.41      0.46      0.43        67
    Obesity_Type_II       0.62      0.81      0.70        68
   Obesity_Type_III       0.88      1.00      0.94        81
 Overweight_Level_I       0.38      0.30      0.34        53
Overweight_Level_II       0.44      0.21      0.29        56

           accuracy                           0.57       441
          macro avg       0.53      0.54      0.53       441
       weighted avg       0.55      0.57      0.55       441

                     precision    recall  f1-score   support

Insufficient_Weight       0.24      0.67      0.35        58
      Normal_Weight       0.36      0.07      0.12        58
     Obesity_Type_I       0.00      0.00      0.00        67
    Obesity_Type_II       0.39      0.96      0.55        68
   Obesity_Type_III       0.98      0.99      0.98        81
 Overweight_Level_I       0.00      0.00      0.00        53
Overweight_Level_II       0.17      0.05      0.08        56

           accuracy                           0.43       441
          macro avg       0.30      0.39      0.30       441
       weighted avg       0.34      0.43      0.34       441

                     precision    recall  f1-score   support

Insufficient_Weight       0.80      0.81      0.80        58
      Normal_Weight       0.55      0.59      0.57        58
     Obesity_Type_I       0.70      0.69      0.69        67
    Obesity_Type_II       0.85      0.91      0.88        68
   Obesity_Type_III       1.00      0.99      0.99        81
 Overweight_Level_I       0.56      0.66      0.61        53
Overweight_Level_II       0.67      0.46      0.55        56

           accuracy                           0.75       441
          macro avg       0.73      0.73      0.73       441
       weighted avg       0.75      0.75      0.75       441

c:\Users\LINA C\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1351: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

                     precision    recall  f1-score   support

Insufficient_Weight       0.85      0.90      0.87        58
      Normal_Weight       0.65      0.72      0.68        58
     Obesity_Type_I       0.84      0.79      0.82        67
    Obesity_Type_II       0.96      0.99      0.97        68
   Obesity_Type_III       0.98      1.00      0.99        81
 Overweight_Level_I       0.76      0.74      0.75        53
Overweight_Level_II       0.85      0.73      0.79        56

           accuracy                           0.85       441
          macro avg       0.84      0.84      0.84       441
       weighted avg       0.85      0.85      0.85       441